<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d{yyyy-MM-dd HH:mm:ss,SSS}]%c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    <appender name="ROLL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/jeus/scheduler/StorageCheck/logs/storageCheck.log"/>
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}]%c{1}.%M(%L) | %m%n" />
        </layout>
    </appender>
<!--  
	<logger name="java.sql.Connection">
        <level value="DEBUG"/>
    </logger>
	<logger name="java.sql.Statement">
        <level value="DEBUG"/>
    </logger>
    <logger name="java.sql.PreparedStatement">
        <level value="DEBUG"/>
    </logger>
-->

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>
    <logger name="com.mchange.v2.c3p0">
        <level value="ERROR"/>
    </logger>
   
    <logger name="kr.co.d2net">
        <level value="DEBUG"/>
    </logger>
    <logger name="kr.co.netbro">
        <level value="DEBUG"/>
    </logger>
    <logger name="com.sbs.das">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="INFO"/>
        <!--  
        <appender-ref ref="CONSOLE"/>
        -->
        <appender-ref ref="ROLL"/>
    </root>

</log4j:configuration>
