<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="nevigatorProxyFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.sbs.das.web.Nevigator" />
		<!--  
		<property name="address" value="http://localhost:8088/WorkflowService/services/ServiceNevigator" />
		-->
		<!--  
		<property name="address" value="http://10.30.23.48:8088/WorkflowService/services/ServiceNevigator" />
		-->
		<!--
		<property name="address" value="http://10.150.12.62:8088/WorkflowService/services/ServiceNevigator" />
		-->
		<property name="address" value="http://10.150.12.62:8088/WorkflowService/services/ServiceNevigator" />
	</bean>
	
	<bean id="dasCmsProxyFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.sbs.das.web.DasCMS" />
		<!--  
		<property name="address" value="http://localhost:8088/WorkflowService/services/ServiceNevigator" />
		-->
		<!--  
		<property name="address" value="http://10.30.23.48:8088/WorkflowService/services/ServiceNevigator" />
		-->
		<!--
		<property name="address" value="http://10.150.12.62:8088/WorkflowService/services/ServiceNevigator" />
		-->
		<property name="address" value="http://192.168.0.112/WorkflowService/services/CMSNavigator" />
	</bean>

</beans>